.App-navigation {
    width: 15%;
    position: fixed;
    height: 100vh;
    background: #005cf2;
  }

.App-navigation-buttons {
margin-top: 80%;
margin-left: 2%;
}

.App-navigation-button-text {
color: #FFF;
}

.active {
    background-color: #0048bd;
  }