.App {
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.App-navigation {
  width: 15%;
  position: fixed;
  height: 100vh;
  background: #005cf2;
}

.App-navigation-buttons {
  margin-top: 80%;
  margin-left: 2%;
}

.App-navigation-button-text {
  color: #FFF;
}

.App-Content {
  align-self: right;
  background-color: #FFF;
  padding: 20px;
}

.active {
  background-color: #0048bd;
}